@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url(./fontes/idroid.otf) format('opentype');
}

@font-face { /*test*/
    font-family: 'equal sans';
    src: url(./fontes/equalsans_demo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); /*font-family: 'PT Sans', sans-serif;*/

body {
    background-color: #82D9A8;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: #145932;
    color: white;
    font-family: 'equal sans';
    text-align: center;
}

header > p {
    font-size: 16px;
    text-indent: 0em;
}

a {
    color: #145932;
    text-decoration: none;
    font-weight: bold;

}

nav {
    text-align: left;
}

nav > a {
    color: white;
    font-size: 0.875em;
}

main {
    background-color: white;
    box-shadow: 1px 1px 1px black;
}


p {
    font-size: 0.875em;
    text-indent: 1.2em;
}

section#principal > h1 {
    color: #145932;
    font-family: 'Idroid';
}

article > h2 {
    color: #145932;
    font-family: 'Idroid';
    background-image: linear-gradient(to left, #FFFFFF, #82d9a892);
}

section#video {
    background-color: #145932;
}

section#lista {
    background-color: #82D9A8;
    margin: 15px;
    border-radius: 5px;
}

.h1dalista {
    background-color: #3DD980;
    color: white;
    font-size: 1em;
    border-radius: 5px;

}

footer {
    background-color: #145932;
    color: white;
}

footer > p {
    text-indent: 0em;
    font-size: 0.675em;
}

.link_footer { /*footer > p > a*/
    color: white;
}
