@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url(./fontes/idroid.otf) format('opentype');
}

@font-face { /*test*/
    font-family: 'equal sans';
    src: url(./fontes/equalsans_demo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); /*font-family: 'PT Sans', sans-serif;*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #82D9A8;
    --cor3: #05F240;
    --cor4: #145932;
    --cor-white: #ffffff;

    --fonte-padrao: 'PT Sans', sans-serif;
    --fonte-destaque: 'equal sans';
    --fonte-idroid: 'Idroid';
}

body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F4CE';
}

/*CABEÇALHO*/
header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4)50%);
    font-family: var(--fonte-destaque);

    text-align: center;

    min-height: 150px;
    padding-top: 40px;

    box-shadow: 1px 1px rgba(0, 0, 0, 0.465);


}

header > h1 {
    color: var(--cor-white);
    font-size: 3em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);

}

header > p {
    text-indent: 0em;
    padding: 0px 15px;

    margin-top: 20px;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor-white);
    margin-bottom: 20px;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.155);
 
}

/*-----MENU-----*/
nav {
    background-color: var(--cor4);
    text-align: left;

    
    margin-top: 50px;

}

nav > a {
    color: var(--cor-white);

    font-size: 0.875em;
    padding: 10px;

    transition-duration: 0.2s;

    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*-----MAIN-----*/
main {
    background-color: var(--cor-white);

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.454);

    min-width: 280px;
    max-width: 800px;
    margin: auto;

    padding: 15px;

    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;


}

main p {
    font-size: 0.975em;
    text-indent: 1.5em;
    text-align: justify;

    margin: 15px 0px;
    line-height: 2em;
}

main a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 3px;
}
 main a:hover{
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    transition-duration: 0.2seg;
    text-decoration: underline;

 }

 main strong {
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor2);
    padding: 2px 4px;
    border-radius: 3px;
}

section#principal > h1 {
    color: var(--cor4);
    font-family: var(--fonte-idroid);
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-idroid);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 0.3em;
}

main section#video {
    background-color: var(--cor4);
}

img {
    max-width: 100%;
}

img.android_pequeno { /*img é display inline, para centralizar passar para display block*/
    max-width: 350px;
    display: block;
    margin: auto;
}


/*-----LISTA-----*/
aside > p > a.externo{
    background-color: var(--cor-white);
}

aside {
    margin-top: 15px; /*em baixo nao precisa, pois eu ja tinha colocado uma margin: 15px em todos nos p's do main*/
    padding: 0px 10px;
    background-color: var(--cor2);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
}

ul {
    list-style-position: inside; /*colocar a bolinha da lista para o lado de dentro, o normal é outside*/
    columns: 2; /*colunas de uma lista*/
    list-style: none;
}

.h1dalista {
    background-color: var(--cor2);
    color: var(--cor-white);
    padding: 10px;
    font-size: 1em;

    margin: -10px -10px 0px -10px; /*fazer quando temos uma caixa dentro da outra mas ela esta para dentro*/
    border-radius: 5px 5px 0px 0px;


}



/*----RODAPE-----*/
footer {
    background-color: var(--cor4);
    color: var(--cor-white);

}

footer > p {
    text-indent: 0em;
    font-size: 0.675em;
    text-align: center;
    padding: 5px;

}

.link_footer { /*footer > p > a*/
    color: var(--cor-white);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
